# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# Output directories
dist

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache
.parcel-cache
